body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Industries {
  background-image: url("./assets/slide_one.jpg");
  min-height: 100vh;
}

.Services {
  background-image: url("./assets/slide_two.jpg");
}

.AboutUs {
  background-image: url("./assets/slide_three.jpg");
}

.Industries, .Services, .AboutUs {
  min-height: 100vh;
  background-size: cover;
}